/* //////////////////////////////////////////////// CATALOG //////////////////////////////////////////////// */
.catalog{
	.paging{
		@media(max-width: 767px){
			padding-top: 0;
		}
	}
}


/***** CATALOG LIST *****/
.catalog-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.65%;
	
	@media(max-width: 767px){
		margin: 0 -1rem;
	}
}

.catalog-list-elem{
	width: 25%;
	padding: 0 1.65%;
	margin-bottom: 2rem;
	
	@media(max-width: 1024px){
		width: 33.333%;
	}
	
	@media(max-width: 767px){
		width: 50%;
		padding: 0 1rem;
	}
}

.catalog-item{
	position: relative;
	
	&:hover{
		.catalog-item__photo-list, .catalog-item__size-list{
			opacity: 1;
			visibility: visible;
		}
	}
}

.catalog-item__photo{
	position: relative;
	margin-bottom: 1.1rem;
	
	@media(max-width: 767px){
		margin-bottom: 0.8rem;
	}
}

.catalog-item__main-photo{
	img{
		width: 100%;
	}
}

.catalog-item__photo-list{
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.catalog-item__photo-list-item{
	display: block;
	margin-left: 0.5rem;
	background-color: $Color-1;
	line-height: 0;
	
	&:first-child{
		margin-left: 0;
	}
	
	&:hover{
		.catalog-item__photo-list-item-inner{
			opacity: 0.5;
		}
	}
}

.catalog-item__photo-list-item-inner{
	display: block;
	max-height: 7rem;
	transition: .2s;
}

.catalog-item__info{
	text-align: center;
}

.catalog-item__title{
	display: flex;
	height: 3rem;
	align-items: center;
	line-height: 1;
	font-size: 1.5rem;
	
	@media(max-width: 767px){
		font-size: 1.3rem;
	}
	
	@media(max-width: 374px){
		font-size: 1.2rem;
	}
}

.catalog-item__title-inner{
	width: 100%;
}

.catalog-item__title-link{
	color: $Color-2;
	transition: .2s;
	
	&:hover{
		color: $Color-7;
	}
}

.catalog-item__price{
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.3;
	margin-bottom: 0.5rem;
	
	@media(max-width: 374px){
		font-size: 1.3rem;
	}
}

.catalog-item__old-price{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 0.9rem;
	
	&:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 1px;
		top: 50%;
		background-color: $Color-4;
	}
	
	&+.catalog-item__cur-price{
		color: $Color-4;
	}
}

.catalog-item__cur-price{
	display: inline-block;
	vertical-align: middle;
}

.catalog-item__label-list{
	position: absolute;
	left: 1rem;
	top: 1rem;
	z-index: 1;
	line-height: 1;
}

.catalog-item__label{
	height: 2rem;
	line-height: 2.1rem;
	min-width: 4rem;
	text-align: center;
	padding: 0 0.5rem;
	font-size: 1.3rem;
	font-weight: bold;
	color: $Color-1;
	text-transform: uppercase;
	border-radius: 0.3rem;
	margin-bottom: 0.5rem;
	
	&:last-child{margin-right: 0;}
	
	&._new{
		background-color: $Color-5;
	}
	
	&._sale{
		background-color: $Color-4;
	}
}

.catalog-item__size-list{
	color: $Color-6;
	font-size: 1.3rem;
	line-height: 1.2;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.catalog-item__size-list-title{
	margin-right: 0.3rem;
}

.catalog-item__size-item{
	margin-right: 0.6rem;
}


/***** CATALOG SLIDER *****/
.catalog-slider{
	margin: 0 -1.65%;
	
	@media(max-width: 767px){
		margin: 0 -2rem 0 -1rem;
	}
	
	.slick-prev, .slick-next{
		top: -6.3rem;
		
		@media(max-width: 767px){
			display: none!important;
		}
	}
	
	.slick-prev{
		left: 1.65%;
	}
	
	.slick-next{
		right: 1.65%;
	}
	
	.catalog-list-elem{
		width: auto;
		margin-bottom: 0;
		padding: 0 6.6%;
		
		@media(max-width: 1024px){
			padding: 0 5%;
		}
		
		@media(max-width: 767px){
			padding: 0 1rem 0 0;
			width: 16.8rem;
		}
		
		@media(max-width: 374px){
			width: 14.8rem;
		}
	}
}


/***** VIEWED SLIDER *****/
.viewed-slider{
	margin: 0 -1rem;
	
	@media(max-width: 1024px){
		margin: 0 -0.5rem;
	}
	
	@media(max-width: 767px){
		margin: 0 -2rem;
	}
	
	.slick-arrow{
		display: none!important;
	}
}

.viewed-item{
	display: block;
	padding: 0 1rem;
	transition: .2s;
	
	&:hover{
		opacity: 0.5;
	}
	
	@media(max-width: 1024px){
		padding: 0 0.5rem;
	}
	
	@media(max-width: 767px){
		width: 11rem;
		padding: 0 1rem 0 0;
	}
	
	@media(max-width: 374px){
		width: 9.5rem;
	}
}


/***** FILTER *****/
.show-mobile-filter{
	margin-bottom: 2rem;
	display: none;
	
	@media(max-width: 767px){
		display: block;
	}
}

.show-mobile-filter-btn{
	width: 100%;
}

.hide-mobile-filter-btn{
	right: auto;
	left: 1rem;
	top: 1rem;
	display: none;
	
	@media(max-width: 767px){
		display: block;
	}
}

.filter{
	@media(max-width: 767px){
		position: fixed;
		width: 32rem;
		left: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		background: $Color-1;
		z-index: 101;
		padding: 6rem 2rem 3rem;
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		transition: .4s;
		
		&.is-mobile-show{
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			transform: translate3d(0, 0, 0);
		}
	}
}

.filter__controls{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $Color-8;
	padding-bottom: 1.4rem;
	margin-bottom: 2rem;
	
	@media(max-width: 767px){
		display: block;
		border-top: 1px solid $Color-8;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.filter-list-item{
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid $Color-8;
	padding-right: 2rem;
	margin-right: 2rem;
	
	&:last-child{
		border-right: none;
		padding-right: 0;
		margin-right: 0;
		
		@media(max-width: 767px){
			border-bottom: none;
		}
	}
	
	@media(max-width: 767px){
		display: block;
		margin-right: 0;
		padding-right: 0;
		border-right: none;
		border-bottom: 1px solid $Color-8;
	}
}

.filter-item{
	position: relative;
	min-width: 10rem;
	max-width: 20rem;
	
	@media(max-width: 767px){
		max-width: 100%;
	}
	
	&.is-show{
		.filter-item__option-list{
			display: block;
		}
		
		.filter-item__title:before{
			transform: rotate(180deg);
		}
	}
}

.filter-item__title{
	position: relative;
	height: 3rem;
	padding: 0.7rem 2rem 0 0;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	transition: .2s;
	
	@media(max-width: 767px){
		height: 5rem;
		font-size: 1.5rem;
		padding: 1.9rem 2rem 0 0;
	}
	
	&:before{
		position: absolute;
		right: 0;
		top: 50%;
		font-size: 0.8rem;
		margin-top: -0.4rem;
		color: $Color-2;
	}
	
	&:hover{
		color: $Color-7;
	}
}

.filter-item__option-list{
	position: absolute;
	left: 0;
	top: 100%;
	width: 25rem;
	border:1px solid $Color-2;
	background-color: $Color-1;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 1.5rem;
	z-index: 5;
	display: none;
	
	@media(max-width: 767px){
		position: relative;
		left: auto;
		top: auto;
		width: auto;
		border: none;
		box-shadow: none;
		padding: 0 0 1.5rem 0;
	}
}

.filter-item__option{
	line-height: 1;
	margin-bottom: 0.5rem;
	max-height: 30rem;
	overflow-y: auto;
	
	&:last-child{margin-bottom: 0;}
}

.filter__selected-list{
	padding-bottom: 1.7rem;
	
	@media(max-width: 767px){
		display: none;
	}
}

.filter-selected-option{
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 3rem;
	line-height: 2.8rem;
	border-radius: 1.5rem;
	border: 1px solid $Color-8;
	white-space: nowrap;
	padding: 0 3rem 0 1rem;
	color: $Color-2;
	font-size: 1.3rem;
	margin: 0 0.4rem 0.4rem 0;
	cursor: pointer;
	transition: .2s;
	
	&:before{
		position: absolute;
		right: 0.8rem;
		top: 50%;
		font-size: 1.4rem;
		margin-top: -0.7rem;
		color: $Color-6;
		transition: .2s;
	}
	
	&:hover{
		&:before{
			color: $Color-7;
		}
	}
}

.filter-mobile-submit-btn{
	display: none;
	
	@media(max-width: 767px){
		display: block;
		width: 100%;
		margin-top: 1rem;
	}
}

.sorting{
	position: relative;
	
	@media(max-width: 767px){
		margin-top: 3rem;
	}
	
	.select2-container{
		@media(max-width: 767px){
			display: block;
		}
	}
	
	.select2-container.select2-container--open{
		right: 0;
		left: auto!important;
		
		.select2-dropdown--above{
			border-bottom: 1px solid $Color-2;
		}
	}
	
	.select2-selection--single{
		border: none;
		border-radius: 0;
		height: 3rem;
		padding-top: 0.8rem;

		.select2-selection__rendered{
			font-size: 1.3rem;
			font-weight: bold;
			padding-left: 0;
			padding-right: 2rem;
		}

		.select2-selection__arrow{
			width: 1.6rem;

			&:before{
				right: 0;
				left: auto;
				margin: -0.4rem 0 0 0;
			}
		}
	}
	
	.select2-container:not(.select2-container--disabled):hover{
		.select2-selection__rendered{
			color: $Color-7;
		}
	}
	
	.select2-container.select2-container--open{
		.select2-dropdown{
			border-top: 1px solid $Color-2;
		}
	}
	
	.select2-dropdown{
		border-color: $Color-2;
	}
}

.sorting__label{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.3rem;
	font-weight: bold;
	margin-right: 0.3rem;
	
	@media(max-width: 767px){
		display: block;
		font-size: 1.5rem;
		margin-right: 0;
		margin-bottom: 0.5rem;
	}
}

