/* //////////////////////////////////////////////// FAQ //////////////////////////////////////////////// */
.faq{
	.accordion-item__title{
		font-size: 1.7rem;
	}
}

.faq__section{
	margin-bottom: 3rem;
}

.faq__section-title{
	margin-bottom: 2rem;
}
