//- mixins
include ../mixins/_mixins.pug

doctype html

block PageParams

- var wrapperClass = "global-wrapper"
if (isOrdering)
	-wrapperClass = "global-wrapper _ordering-wrapper"


html
	head
		block PageTitle
			title Coursidea

		include ../includes/_head.pug

	body
		section(class=wrapperClass)
			include ../includes/_header.pug

			section.base-content
				block PageContent
					
			include ../includes/_footer.pug

		.global-overlay.js-close-popup.js-close-menu.js-close-mobile-filter#global-overlay
		
		include ../includes/_menu.pug
		
		include ../includes/_modal-popups.pug
		
		include ../includes/_scripts.pug
