// Size
$MinWidth: 320px;
$MaxContentWidth: 1162px;
$MaxContentShortWidth: 960px;
$HeaderHeight: 7rem;
$HeaderHeightMobile: 5rem;


// Colors
$Color-1: #fff;
$Color-1-opacity-30: rgba(255,255,255,0.3);
$Color-1-opacity-90: rgba(255,255,255,0.9);
$Color-2: #231f20;
$Color-3: #f76239;
$Color-4: #f74b4b;
$Color-5: #7ac381;
$Color-6: #a7a7af;
$Color-7: #d0021b;
$Color-8: #ebebeb;
$Color-9: #646262;
$Color-10: #626060;
$Color-11: #2f2e36;
$Color-12: #f0f0e9;
$Color-13: #f6f6f7;
$Color-14: #dbdbdb;
$Color-15: #f12121;
$Color-16: #f1e8eb;
$Color-17: #f85d5d;
$Color-18: #979797;


// Fonts
$FontBase: 'proxima_nova', Arial, Helvetica, sans-serif;
