extends layouts/_base-layoute.pug

block PageTitle
	title Club

block PageContent
	.page-title
		.inner-width
			h1 Закрытый клуб

	.club
		.inner-width
			.club__list.js-club-list
				+club-list-item({
					title: "Зачем этот тренинг, если вся информация в интернете?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.",
					photoUrl: "pages-content/club/photo-1.jpg"
				})
				+club-list-item({
					title: "Зачем этот тренинг, если вся информация в интернете?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.",
					photoUrl: "pages-content/club/photo-2.jpg"
				})
				+club-list-item({
					title: "За 9 часов тренинга вы создадите бренд-стратегию",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления",
					photoUrl: "pages-content/club/photo-3.jpg"
				})
				+club-list-item({
					title: "За 9 часов тренинга вы создадите бренд-стратегию",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления",
					photoUrl: "pages-content/club/photo-4.jpg"
				})
				+club-list-item({
					title: "Поможет ли Инстаграм в моей нише?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.",
				})
				+club-list-item({
					title: "Зачем этот тренинг, если вся информация в интернете?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления",
					photoUrl: "pages-content/club/photo-5.jpg"
				})
				+club-list-item({
					title: "Зачем этот тренинг, если вся информация в интернете?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.",
					photoUrl: "pages-content/club/photo-1.jpg"
				})
				+club-list-item({
					title: "Зачем этот тренинг, если вся информация в интернете?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.",
					photoUrl: "pages-content/club/photo-2.jpg"
				})
				+club-list-item({
					title: "Поможет ли Инстаграм в моей нише?",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. ",
				})
				+club-list-item({
					title: "За 9 часов тренинга вы создадите бренд-стратегию",
					description: "За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления",
					photoUrl: "pages-content/club/photo-3.jpg"
				})