extends layouts/_base-layoute.pug

block PageTitle
	title Test results

block PageContent
	.test-results.fw
		.test-results__left
			.test-results__photo
				.test-results__img
					img(src="images/test-results-photo.png", alt="")
				.test-results__number._1(data-test-result="1") 1
				.test-results__number._2(data-test-result="2") 2
				.test-results__number._3(data-test-result="3") 3
				.test-results__number._4(data-test-result="4") 4
				.test-results__number._5(data-test-result="5") 5
		.test-results__right
			.page-title
				h1 Твои результаты теста
			.test-results__list
				.test-results__item(data-test-result="1")
					.test-results__item-header.icon-plus.js-show-test-result
						.test-results__item-number 1
						.test-results__item-title Название раздела
					.test-results__item-content
						.static-text
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. 
							p
								|За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.За 9 часов |тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. 
								br
								|За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.
				.test-results__item(data-test-result="2")
					.test-results__item-header.icon-plus.js-show-test-result
						.test-results__item-number 2
						.test-results__item-title Название раздела
					.test-results__item-content
						.static-text
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. 
							p
								|За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.За 9 часов |тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.
				.test-results__item(data-test-result="3")
					.test-results__item-header.icon-plus.js-show-test-result
						.test-results__item-number 3
						.test-results__item-title Название раздела
					.test-results__item-content
						.static-text
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.
				.test-results__item(data-test-result="4")
					.test-results__item-header.icon-plus.js-show-test-result
						.test-results__item-number 4
						.test-results__item-title Название раздела
					.test-results__item-content
						.static-text
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли. За 9 часов тренинга вы создадите бренд-и продвижения аккаунта самостоятельшли.ккаунта  вы бы пришли.За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.
				.test-results__item(data-test-result="5")
					.test-results__item-header.icon-plus.js-show-test-result
						.test-results__item-number 5
						.test-results__item-title Название раздела
					.test-results__item-content
						.static-text
							p.
								За 9 часов тренинга вы создадите бренд-стратегию, концепцию оформления и продвижения аккаунта самостоятельно вы бы пришли.