.catalog-slider.js-catalog-slider
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/1.png",
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/2.png",
			isSale: true
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/3.png",
			isNew: true
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/4.png",
			isNew: true,
			isSale: true
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/5.png",
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/6.png",
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/7.png",
			isNew: true,
		})
	.catalog-slider-slide
		+catalog-item({
			title:"Женские прямые брюки",
			src: "pages-content/catalog/8.png",
		})
