section.features
	.inner-width
		.feature-slider.js-feature-slider
			.feature-slider-slide
				.feature-item
					.feature-item__header
						.feature-item__icon.icon-delivery
						.feature-item__title Бесплатная доставка по&nbsp;Москве
					.feature-item__description.
						Бесплатно доставим заказ по Москве в пределах МКАД, а также в районы Бутово, Митино, Новокосино, 
						Жулебино, Котельники, Румянцево.
					.feature-item__controls
						a.feature-item__control-link(href="#") Узнать условия доставки
			.feature-slider-slide
				.feature-item
					.feature-item__header
						.feature-item__icon.icon-map
						.feature-item__title Сеть шоурумов в&nbsp;Москве и&nbsp;России
					.feature-item__description.
						Приходите в наши магазины, чтобы определиться с размером и оценить безупречное качество одежды перед покупкой.
					.feature-item__controls
						a.feature-item__control-link(href="#") Смотреть карту
			.feature-slider-slide
				.feature-item
					.feature-item__header
						.feature-item__icon.icon-return
						.feature-item__title Удобные условия обмена и&nbsp;возврата
					.feature-item__description.
						Вещи, которые вам не подошли, верните курьеру или отправьте их нам почтой. Также вы можете обменять 
						или вернуть покупки в ближайшем магазине.
					.feature-item__controls
						a.feature-item__control-link(href="#") Узнать больше
