if (isShortFooter)
	footer.footer.footer_short#footer
		.inner-width
			.short-footer-content
				.copyright © ТеоремаТрейд, 2018
				.footer-payments
					img.footer-payments-item(src="images/pay/visa.svg", alt="")
					img.footer-payments-item(src="images/pay/master.svg", alt="")
					img.footer-payments-item(src="images/pay/sber.svg", alt="")
					img.footer-payments-item(src="images/pay/mir.svg", alt="")
else
	footer.footer#footer
		.inner-width
			.footer-content
				.footer-left
					nav.bottom-menu
						ul.bottom-menu-list
							li.bottom-menu-item
								a.bottom-menu-link(href="#") О компании
							li.bottom-menu-item
								a.bottom-menu-link(href="#") Магазины
							li.bottom-menu-item
								a.bottom-menu-link(href="#") Доставка и оплата
							li.bottom-menu-item
								a.bottom-menu-link(href="#") Обмен и возврат
							li.bottom-menu-item
								a.bottom-menu-link(href="#") Контакты
					.footer-contacts
						a.footer-phone(href="tel:+74959814640") +7 495 981-46-40
						span.footer-address Москва, ул. Шипиловская, д. 28А
						span.footer-callback-link.js-show-popup(data-popup="#popup-feedback") Написать нам
				.footer-right
					.footer-soclinks
						.soclinks
							a.soclink.icon-odn(href="#")
							a.soclink.icon-inst(href="#")
							a.soclink.icon-fb(href="#")
							a.soclink.icon-vk(href="#")
							a.soclink.icon-tw(href="#")
					.footer-dop-info
						a.footer-dop-info-link(href="#") Правовая информация
						span.copyright © ТеоремаТрейд, 2018
					.footer-payments
						img.footer-payments-item(src="images/pay/visa.svg", alt="")
						img.footer-payments-item(src="images/pay/master.svg", alt="")
						img.footer-payments-item(src="images/pay/sber.svg", alt="")
						img.footer-payments-item(src="images/pay/mir.svg", alt="")
