.viewed-slider.js-viewed-slider
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/1.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/2.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/3.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/4.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/5.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/6.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/7.png", alt="")
	.viewed-slider-slide
		a.viewed-item(href="#")
			img(src="pages-content/catalog/8.png", alt="")
	
