extends layouts/_base-layoute.pug

block PageTitle
	title FAQ

block PageContent
	section.page-header.inner-width
		h1.page-title Ответы на вопросы


	section.two-column.inner-width
		.two-column__main
			.faq
				.faq__section
					h3.faq__section-title Как оформить заказ
					.accordion
						.accordion-item.is-show
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Что такое «корзина»?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Можно ли сделать заказ по телефону или электронной почте?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Как скоро со мной свяжутся после оформления заказа?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item Как сделать заказ?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item Можно ли отменить сделанный заказ?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item Проводятся ли у вас специальные акции?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
				.faq__section
					h3.faq__section-title Доставка
					.accordion
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Я живу в Москве. Как осуществляется доставка?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Сколько стоит доставка по Москве?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
				.faq__section
					h3.faq__section-title Примерка
					.accordion
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Я живу в Москве. Как осуществляется доставка?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.
						.accordion-item
							.accordion-item__title.icon-arrow-small.js-toggle-accordion-item.
								Сколько стоит доставка по Москве?
							.accordion-item__content
								.faq__answer.
									«Корзина» — это аналог покупательской тележки обычного магазина, в неё откладываются выбранные 
									вами товары. Чтобы посмотреть отобранные товары и перейти к оформлению заказа, вам следует зайти в 
									«Корзину». В «Корзине» вы можете изменить количество выбранных товаров или удалить их.

		.two-column__side
			nav.side-menu
				.side-menu__section
					.side-menu__section-title ТеоремаТрейд
					ul.side-menu__list
						li.side-menu__item
							a.side-menu__link(href="#") Компания
						li.side-menu__item
							a.side-menu__link(href="#") Новости
						li.side-menu__item
							a.side-menu__link(href="#") Отзывы
						li.side-menu__item
							a.side-menu__link(href="#") Контакты
						li.side-menu__item
							a.side-menu__link(href="#") Магазины
				.side-menu__section
					.side-menu__section-title Покупателям
					ul.side-menu__list
						li.side-menu__item
							a.side-menu__link(href="#") Доставка и оплата
						li.side-menu__item
							a.side-menu__link(href="#") Обмен и возврат
						li.side-menu__item
							a.side-menu__link(href="#") Карта покупателя
						li.side-menu__item
							a.side-menu__link(href="#") Как оформить заказ
						li.side-menu__item
							a.side-menu__link(href="#") Проверка баланса карты
						li.side-menu__item
							a.side-menu__link(href="#") Все об одежде
						li.side-menu__item
							a.side-menu__link.is-active(href="#") Ответы на вопросы
