extends layouts/_base-layoute.pug

block PageTitle
	title Photos

block PageContent
	section.page-header.inner-width
		h1.page-title ОСЕНЬ – ЗИМА 2017 – 2018


	section.photos.inner-width
		.photo-list.js-about-photo-gallery-slider
			a.photo-list-item(href="pages-content/photogallery/photo-1.jpg")
				img(src="pages-content/photogallery/photo-1-preview.jpg", alt="")
			a.photo-list-item(href="pages-content/photogallery/photo-2.jpg")
				img(src="pages-content/photogallery/photo-2-preview.jpg", alt="")
			a.photo-list-item(href="pages-content/photogallery/photo-3.jpg")
				img(src="pages-content/photogallery/photo-3-preview.jpg", alt="")
			a.photo-list-item(href="pages-content/photogallery/photo-4.jpg")
				img(src="pages-content/photogallery/photo-4-preview.jpg", alt="")
			a.photo-list-item(href="pages-content/photogallery/photo-5.jpg")
				img(src="pages-content/photogallery/photo-5-preview.jpg", alt="")

