extends layouts/_base-layoute.pug

block PageTitle
	title Text

block PageContent
	section.page-header.inner-width
		h1.page-title H1. Teorema Officewear — это мультибрендовая сеть магазинов стильной.


	section.two-column.inner-width
		.two-column__main
			.static-text
				p.spec-text.
					Teorema Officewear — это мультибрендовая сеть магазинов стильной итальянской одежды в Москве, которая делает вас 
					современной и модной в офисе и за его пределами. Магазины сети расположены в крупнейших торговых центрах Москвы. 
					Также работает интернет-магазин, осуществляющий доставку товаров по всей России.
				p
					|В магазинах 
					a(href="#") Teorema Officewear
					|  всегда представлен широкий ассортимент платьев, кофт, блузок, а также жакетов и 
					|деловых костюмов, которые разнообразят ваш гардероб. Если вам нужен менее строгий и менее классический стиль, 
					|рекомендуем  мягкий трикотаж, к которому юбки или брюки предлагаются отдельно от костюма.
				p.
					Ассортимент сформирован так, что вы можете подобрать под ваш пиджак двое или более брюк или юбок, сочетающихся с 
					пиджаком по фактуре или стилистике.
				h2 H2. Teorema Officewear — это мультибрендовая сеть магазинов стильной.
				p.
					При условии покупки хотя бы одной вещи, доставка по Москве бесплатна. В случае отказа от покупки после приезда 
					курьера доставка оплачивается в размере 300 руб. Данные условия распространяются на все районы Москвы, 
					расположенные внутри МКАД, а также на районы Бутово, Митино, Новокосино, Жулебино, Котельники, Румянцево. 
				h3.
					H3. Teorema Officewear — это мультибрендовая сеть магазинов стильной итальянской одежды в Москве, которая делает 
					вас современной и модной в офисе и за его пределами.
				p.
					Стоимость доставки по России зависит от веса заказанных товаров и удалённости вашего региона от Москвы. 
					Точную стоимость доставки вы сможете узнать в процессе оформления заказа. Как правило, стоимость доставки по 
					России варьируется от 300 до 800 рублей. При заказе на сумму от 5 000 руб., доставка по России бесплатна. 
				p.
					По России мы отправляем наши товары через службу «EMS Почта России» наложенным платежом или по предоплате. 
					Срок доставки, как правило, составляет 4 — 7 дней. При оплате заказа наложенным платежом нужно будет заплатить 
					комиссию за наложенный платёж, которая составляет 5-7% от общей суммы заказа.
				h5 В нашем магазине существуют следующие виды оплаты:
				ul
					li Онлайн-оплата пластиковой картой;
					li Наличными курьеру при получении заказа (только для Москвы);
					li Наличными в любом из наших магазинов в Москве;
					li Пластиковой картой в любом из наших магазинов в Москве;
					li Наличными при получении заказа у почтового курьера (наложенный платёж).
				h5 В нашем магазине существуют следующие виды оплаты:
				ol
					li.
						Берегите свои пластиковые карты так же, как бережете наличные деньги. Не забывайте их в машине, ресторане, 
						магазине и т.д;
					li Никогда не передавайте полный номер своей кредитной карты по телефону каким-либо лицам или компаниям;
					li.
						Всегда имейте под рукой номер телефона для экстренной связи с банком, выпустившим вашу карту, и в случае 
						ее утраты немедленно свяжитесь с банком;
					li Вводите реквизиты карты  только при совершении покупки. Никогда не указывайте их по каким-то другим причинам.
				img(src="pages-content/text-page/photo.jpg", alt="")
				.img-description.
					Стоимость доставки по России зависит от веса заказанных товаров и удалённости вашего региона от Москвы. 
					Точную стоимость доставки вы сможете узнать в процессе оформления заказа. Как правило, стоимость доставки по 
					России варьируется от 300 до 800 рублей. При заказе на сумму от 5 000 руб., доставка по России бесплатна.
				p.
					Стоимость доставки по России зависит от веса заказанных товаров и удалённости вашего региона от Москвы. 
					Точную стоимость доставки вы сможете узнать в процессе оформления заказа. Как правило, стоимость доставки по 
					России варьируется от 300 до 800 рублей. При заказе на сумму от 5 000 руб., доставка по России бесплатна. 
				p.
					По России мы отправляем наши товары через службу «EMS Почта России» наложенным платежом или по предоплате. 
					Срок доставки, как правило, составляет 4 — 7 дней. При оплате заказа наложенным платежом нужно будет заплатить 
					комиссию за наложенный платёж, которая составляет 5-7% от общей суммы заказа.
				br
				.data-table
					.data-table__row._header
						.data-table__cell Номер
						.data-table__cell Дата
						.data-table__cell Состав заказа
						.data-table__cell Статус
						.data-table__cell._right Сумма
					.data-table__row
						.data-table__cell
							.data-table__label Номер
							.data-table__value №4577481
						.data-table__cell
							.data-table__label Дата
							.data-table__value 21 сентября 2018
						.data-table__cell
							.data-table__label Состав заказа
							.data-table__value
								.orders-product
									.orders-product__title Женские прямые брюки
									.orders-product__art Арт. 19710
						.data-table__cell
							.data-table__label Статус
							.data-table__value
								.orders-state._in-process В процессе
						.data-table__cell._right
							.data-table__label Сумма
							.data-table__value 4 000 ₽
					.data-table__row
						.data-table__cell
							.data-table__label Номер
							.data-table__value №4577481
						.data-table__cell
							.data-table__label Дата
							.data-table__value 21 сентября 2018
						.data-table__cell
							.data-table__label Состав заказа
							.data-table__value
								.orders-product
									.orders-product__title Женские прямые брюки
									.orders-product__art Арт. 19710
						.data-table__cell
							.data-table__label Статус
							.data-table__value
								.orders-state Выполнено
						.data-table__cell._right
							.data-table__label Сумма
							.data-table__value 150 000 ₽
				br
				br
				table
					tr
						th Номер
						th Статус
						th Сумма
					tr
						td №4577481
						td В процессе
						td 4 000 ₽
					tr
						td №4577481
						td В процессе
						td 4 000 ₽
				p.
					Стоимость доставки по России зависит от веса заказанных товаров и удалённости вашего региона от Москвы. 
					Точную стоимость доставки вы сможете узнать в процессе оформления заказа. Как правило, стоимость доставки по 
					России варьируется от 300 до 800 рублей. При заказе на сумму от 5 000 руб., доставка по России бесплатна. 
				p.
					По России мы отправляем наши товары через службу «EMS Почта России» наложенным платежом или по предоплате. 
					Срок доставки, как правило, составляет 4 — 7 дней. При оплате заказа наложенным платежом нужно будет заплатить 
					комиссию за наложенный платёж, которая составляет 5-7% от общей суммы заказа.

		.two-column__side
			nav.side-menu
				.side-menu__section
					.side-menu__section-title ТеоремаТрейд
					ul.side-menu__list
						li.side-menu__item
							a.side-menu__link.is-active(href="#") Компания
						li.side-menu__item
							a.side-menu__link(href="#") Новости
						li.side-menu__item
							a.side-menu__link(href="#") Отзывы
						li.side-menu__item
							a.side-menu__link(href="#") Контакты
						li.side-menu__item
							a.side-menu__link(href="#") Магазины
				.side-menu__section
					.side-menu__section-title Покупателям
					ul.side-menu__list
						li.side-menu__item
							a.side-menu__link(href="#") Доставка и оплата
						li.side-menu__item
							a.side-menu__link(href="#") Обмен и возврат
						li.side-menu__item
							a.side-menu__link(href="#") Карта покупателя
						li.side-menu__item
							a.side-menu__link(href="#") Как оформить заказ
						li.side-menu__item
							a.side-menu__link(href="#") Проверка баланса карты
						li.side-menu__item
							a.side-menu__link(href="#") Все об одежде
						li.side-menu__item
							a.side-menu__link(href="#") Ответы на вопросы

				
