// Size
$MinWidth: 320px;
$ContentMaxWidth: 1170px;
$HeaderHeight: 9rem;
$HeaderHeightMobile: 6.4rem;


// Colors
$Color-1: #fff;
$Color-2: #000;
$Color-3: #1e283f;
$Color-4: #36a3ab;
$Color-5: #f43333;
$Color-6: #666;
$Color-7: #777;
$Color-8: #888;
$Color-9: #999;
$Color-10: #a7acb6;
$Color-11: #e1f1f2;
$Color-12: #e8e8e8;
$Color-13: #d6d6d6;
$Color-14: #ebf6f7;
$Color-15: #dae5e6;
$Color-16: #cdcdcd;
$Color-17: #d6e6e8;
$Color-18: #75969B;
$Color-19: #e7b19a;
$Color-20: #ebf3f4;
$Color-21: #c5d6d8;
$Color-22: #b7d5d9;
$Color-23: #ff6969;


// Fonts
$FontBase: 'Circe', Arial, Helvetica, sans-serif;
