if (isMainPage)
	.main-page-social
		a.main-page-social__btn.icon-instagram(href="#")
		a.main-page-social__btn.icon-youtube(href="#")
		a.main-page-social__btn.icon-facebook(href="#")
		a.main-page-social__btn.icon-vk(href="#")
else
	footer.footer#footer
	


