script(src="js/device.min.js", type="text/javascript")
script(src="js/modernizr.custom.js", type="text/javascript")
script(src="js/jquery-3.4.1.min.js", type="text/javascript")
script(src="js/jquery.touchSwipe.min.js", type="text/javascript")
script(src="js/inputmask.min.js", type="text/javascript")
script(src="js/jquery.inputmask.min.js", type="text/javascript")
script(src="js/select2.full.min.js", type="text/javascript")
script(src="js/slick.min.js", type="text/javascript")
script(src="js/jquery.fullpage.min.js", type="text/javascript")
script(src="js/jquery.carousel-1.1.min.js", type="text/javascript")
script(src="js/masonry.pkgd.min.js", type="text/javascript")
script(src="js/script.js", type="text/javascript")
