footer.footer#footer
	.inner-width
		.footer__content
			.footer__main
				.footer__info
					.footer__logo
						.footer__logo-img
							img.footer__logo-part-1(src="images/logo-part-1-footer.svg")
							img.footer__logo-part-2(src="images/logo-part-2-footer.svg")
						.footer__logo-text Сеть кафе CofeFest
					.footer__contacts
						.footer__contact-elem Москва, ул. Нижняя Красносельская 35 стр.49
						.footer__contact-elem._phone
							a(href="tel:88005465572") 8 (800) 546 55 72
							.footer__contact-work-time 09:00-21:00 (Мск)
						.footer__contact-elem
							a(href="mailto:in@cofefest.ru") in@cofefest.ru
						.footer__contact-elem._soclinks
							a.soclink.icon-inst(href="#")
							a.soclink.icon-vk(href="#")
							a.soclink.icon-fb(href="#")
				nav.bottom-menu
					.bottom-menu__column
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") Каталог
							ul.bottom-menu__list
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Кофе в зернах
								li.bottom-menu__item
									a.bottom-menu__link.is-active(href="#") Чай
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Сиропы
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Снеки
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Торты
					.bottom-menu__column
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") О нас
							ul.bottom-menu__list
								li.bottom-menu__item
									a.bottom-menu__link(href="#") О проекте
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Фотогалерея
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Арендодателям
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Команда
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Контакты
					.bottom-menu__column
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") Услуги
							ul.bottom-menu__list
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Кейтеринг
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Выездной Бариста
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Организация мероприятий и&nbsp;корпоративов
					.bottom-menu__column
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") О кафе
							ul.bottom-menu__list
								li.bottom-menu__item
									a.bottom-menu__link(href="#") История кофе
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Кофе и чай
								li.bottom-menu__item
									a.bottom-menu__link(href="#") Авторский CofeFest
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") Партнерам
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") Доставка и оплата
						.bottom-menu__section
							.bottom-menu__section-title
								a.bottom-menu__section-title-link(href="#") Вакансии
			
			.footer__other
				.footer__add-review
					button.btn.js-show-popup(type="button", data-popup="#popup-add-review") Оставить отзыв
				.footer__dop-info
					.footer__dop-info-left
						.copyright © CofeFest 2019 Все права защищены
					.footer__dop-info-right
						a(href="#") Политика конфиденциальности