header.header#header
	.header__part-1
		.inner-width
			.header__part-1-content
				.header__part-1-content-inner.fw
					.header__part-1-left
						.header__slogan Фестиваль кофе и еды в&nbsp;одном приятном месте
						.header__find-shop
							a.header__find-shop-link.icon-navigation-2(href="#") 
								span Найти кофейню
					.header__part-1-right
						a.header__phone(href="tel:88005465572") 8 (800) 546 55 72
						span.header__work-time 09:00-21:00 (Мск)
						span.action-link.header__callback-btn.js-show-popup(data-popup="#popup-callback") Заказать звонок
						.header__soclinks
							a.soclink.icon-inst(href="#")
							a.soclink.icon-vk(href="#")
							a.soclink.icon-fb(href="#")
						.header__user
							span.header__user-action-btn.icon-user-2.js-show-popup(data-popup="#popup-authorization")
								span.header__user-action-btn-text Войти
	.header__part-2
		.inner-width
			.header__part-2-content.fw
				a.logo(href="#")
					img.logo-part-1(src="images/logo-part-1.svg")
					img.logo-part-2(src="images/logo-part-2.svg")
				button.top-menu__show-btn.js-show-menu.icon-menu(button="type")
				nav.top-menu#top-menu
					ul.top-menu__list
						li.top-menu__item
							span.top-menu__item-link.icon-arrow-r.js-show-submenu Каталог
							.top-menu__submenu
								ul.top-menu__submenu-list
									li.top-menu__submenu-item
										span.top-menu__submenu-link.top-menu__submenu-back-btn.icon-arrow-l.js-back-menu Назад
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Кофе в зернах
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Чай
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Сиропы
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Снеки
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Торты на заказ
						li.top-menu__item
							span.top-menu__item-link.icon-arrow-r.js-show-submenu Услуги
							.top-menu__submenu
								ul.top-menu__submenu-list
									li.top-menu__submenu-item
										span.top-menu__submenu-link.top-menu__submenu-back-btn.icon-arrow-l.js-back-menu Назад
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Кейтеринг
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Выездной Бариста
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Организация мероприятий и&nbsp;корпоративов
						li.top-menu__item
							span.top-menu__item-link.icon-arrow-r.js-show-submenu О нас
							.top-menu__submenu
								ul.top-menu__submenu-list
									li.top-menu__submenu-item
										span.top-menu__submenu-link.top-menu__submenu-back-btn.icon-arrow-l.js-back-menu Назад
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") О проекте
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Фотогалерея
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Арендодателям
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Команда
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Контакты
						li.top-menu__item
							span.top-menu__item-link.icon-arrow-r.js-show-submenu О кофе
							.top-menu__submenu
								ul.top-menu__submenu-list
									li.top-menu__submenu-item
										span.top-menu__submenu-link.top-menu__submenu-back-btn.icon-arrow-l.js-back-menu Назад
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") История кофе
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Кофе и чай
									li.top-menu__submenu-item
										a.top-menu__submenu-link(href="#") Авторский CofeFest
						li.top-menu__item
							a.top-menu__item-link(href="#") Партнерам
						li.top-menu__item
							a.top-menu__item-link(href="#") Вакансии
						li.top-menu__item
							a.top-menu__item-link(href="#") Доставка и оплата
				.header__basket
					.header__basket-info.icon-cart
						.header__basket-price 1356 &#8381;
						.header__basket-count 5
					a.header__basket-link(href="#")
					.header__basket-content
						.header__basket-content-inner
							.header__basket-empty(style="display: none;")
								.header__basket-empty-text.icon-cart Ваша корзина пуста
							.header__basket-data
								.header__basket-data-left
									.header__basket-data-item
										span.header__basket-data-label В корзине:
										span.header__basket-data-value 3 товара
									.header__basket-data-item
										span.header__basket-data-label на сумму:
										span.header__basket-data-value 1356 &#8381;
								.header__basket-data-right
									a.btn._green._small(href="#") Оформить заказ
							.header__basket-products.js-styled-scroll-bar-y
								.header__basket-product
									a.header__basket-product-link(href="#")
										.header__basket-product-photo
											img(src="pages-content/basket/photo-1-small.jpg", alt="")
										.header__basket-product-info
											.header__basket-product-title Название блюда
											.header__basket-product-price
												span.header__basket-product-price-cur 320 &#8381;
									.header__basket-product-control
										button.header__basket-product-remove-btn.icon-delete(type="button")
								.header__basket-product
									a.header__basket-product-link(href="#")
										.header__basket-product-photo
											img(src="pages-content/basket/photo-2-small.jpg", alt="")
										.header__basket-product-info
											.header__basket-product-title Длинное название блюда
											.header__basket-product-price
												span.header__basket-product-price-cur 1320 &#8381;
									.header__basket-product-control
										button.header__basket-product-remove-btn.icon-delete(type="button")
								.header__basket-product
									a.header__basket-product-link(href="#")
										.header__basket-product-photo
											img(src="pages-content/basket/photo-3-small.jpg", alt="")
										.header__basket-product-info
											.header__basket-product-title Название блюда
											.header__basket-product-price
												span.header__basket-product-price-cur 320 &#8381;
									.header__basket-product-control
										button.header__basket-product-remove-btn.icon-delete(type="button")
								.header__basket-product
									a.header__basket-product-link(href="#")
										.header__basket-product-photo
											img(src="pages-content/basket/photo-1-small.jpg", alt="")
										.header__basket-product-info
											.header__basket-product-title Название блюда
											.header__basket-product-price
												span.header__basket-product-price-cur 2340 &#8381;
									.header__basket-product-control
										button.header__basket-product-remove-btn.icon-delete(type="button")


				.header__search
					button.header__search-btn.icon-search.js-show-search(type="button") 
						span.header__search-btn-text Поиск
					.header__search-content.icon-search
						form
							input.header__search-field._with-placeholder(type="text", placeholder="Что Вы ищите?")
							button.btn._green.header__search-submit-btn(type="submit") Найти
						button.header__search-close-btn.icon-close.js-close-search(type="button")
