// Size
$MinWidth: 320px;
$ContentMaxWidth: 1170px;
$HeaderHeight: 9rem;
$HeaderHeightMobile: 6.4rem;


// Colors
$Color-1: #fff;
$Color-2: #000;
$Color-3: #708b98;
$Color-4: #ff8133;
$Color-5: #27bcff;
$Color-6: #197096;
$Color-7: #95d7f5;
$Color-8: #71c8ef;
$Color-9: #ffb785;
$Color-10: #5da0be;
$Color-11: #aeddf2;
$Color-12: #f2ece8;


$ColorError: #ec63a2;


// Fonts
$FontBase: 'Open Sans', Arial, Helvetica, sans-serif;
